$CheckOutBG: #444855; //#ffffef;
// $foreground: #f8eedd;
// $matte-color: darken($CheckOutBG, 5%); //#ffffff;//
// $height: 500px;
// $width: $height;
// $font-size: 2rem;
$CheckOutline-height: 3rem;
$CheckOutdefault-radius: 6px;
$accent: #7ca;
$accent-shade: shade($accent, 40%);
$accent-tint: tint($accent, 40%);
// $Checkcontent-width: 75vw;
$Checkcontent-width: 20%;
// $Checkcontent-height: 75vh;
$Checkcontent-height: 20%;
$Checkmatte-width: 7vw;
$Checkmatte-height: 7vh;

// body {
//   background: $matte-color;
//   color: $foreground;
//   font-size: $font-size;
//   CheckOutline-height: $CheckOutline-height;
// }

.CheckOutSVG {
  max-width: $Checkcontent-height;
  max-height: $Checkcontent-width;
  transform: rotate(0deg);
  margin: 0 auto;
  // animation: 12s spin linear infinite;

  path {
    fill: none;
    stroke-width: 3;
    // stroke-linecap: round;
    stroke-linejoin: round;
    animation: 25s trace linear infinite;
  }
}

// #app {
//   height: calc($Checkcontent-height + 2 * $Checkmatte-width);
//   width: calc($Checkcontent-width 2 * $Checkmatte-height);
//   // background: $CheckOutBG;
//   // border: 1px solid rgba(0, 0, 0, .5);
//   margin-left: $Checkmatte-width; //.5vw;//
//   margin-top: $Checkmatte-height; //.5vw;//
//   padding-left: (100 - $Checkcontent-width) / 2 - $Checkmatte-width; //12vw;//
//   padding-right: (100 - $Checkcontent-width) / 2 - $Checkmatte-width; //12vw;//
//   padding-top: (100 - $Checkcontent-height) / 2 - $Checkmatte-height; //12vh;//
//   padding-bottom: (100 - $Checkcontent-height) / 2 - $Checkmatte-height; //12vh;//
// }

.CheckOutBtncenteredContent {
  max-height: $Checkcontent-height;
  max-width: $Checkcontent-width;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: $CheckOutdefault-radius;
}

.CheckOutBtn {
  position: relative;
  top: 50%;
  margin-top: -$CheckOutline-height / 2;
  background: $accent;
  color: $accent-shade;
  width: 100%;
  height: $CheckOutline-height;
  border: none;
  border-radius: $CheckOutdefault-radius;
  box-shadow: none;
  transition: background 0.4s ease;

  &:hover {
    background: $accent-tint;
  }
}

.CheckOutBtnmodal {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@keyframes trace {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
