// 預設變數覆蓋需要在導入Bootstrap之前
// $primary: #e412a5;
// $secondary: #131010;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面

/*K：去掉bootstrap .card的border*/
.k-product-card.card {
  border: none;
}

/*K：客製化小搜尋按鈕外觀*/
.btn.btn-outline-success.product-search-btn {
  font-family: 'Noto Sans TC', sans-serif;
  border: none;
  border-radius: 10%;
  background-color: #bebebe;
  color: white;
  transition: 0.6s;
}

.btn.btn-outline-success.product-search-btn:hover {
  border-radius: 10%;
  color: white;
  background-color: hsl(29, 40%, 67%);
  border-color: #cdaa8a;
}

/*K：客製化商品carousel*/

ol.carousel-indicators li {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #cdaa8a;
}

/*K：客製化手風琴元件*/
.accordion > .card {
  border: none;
}
.accordion > .card > .card-header {
  padding: 0;
  background-color: white;
  border-bottom: 1px solid #cdaa8a;
}

.carouselFinn {
  height: 600px;
}

.carousel-item-finn {
  height: 100%;
}

.carousel-item-finn > img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

/*K：去掉bootstrap .card的border*/
.card {
  border: none;
}
