/* * {
  outline: 1px red solid;
} */

span.hy-cart-count {
  background-color: #d67b76;
  position: absolute;
  top: 0;
}

.hy-card__background {
  max-width: 430px;
  width: 100%;
}

.hy-creditCard {
  width: 350px;
  height: 200px;
  background-color: black;
  border-radius: 10px;
  margin: 0 auto;
  span {
    color: #bebebe;
  }
}

.hy-hide {
  display: none;
  // transform: translateY(-100px);

  // fish的
  -webkit-animation-name: hy-hide;
  animation-name: hy-hide;
  transition: transform 0.2s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
// fish的

@keyframes hy-hide {
  0% {
    top: 90px;
  }

  100% {
    top: -10px;
  }
}

// .hy-show {
//   display: block;
// }
.hyanimate {
  -webkit-animation-name: hyanimate;
  animation-name: hyanimate;
  transition: transform 0.2s;
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@keyframes hyanimate {
  0% {
    top: -10px;
  }

  100% {
    top: 90px;
  }
}
.hy-outerSC {
  width: 330px;
  overflow: hidden;
  position: fixed;
  top: 90px;
  right: 3%;
  z-index: 10;
}
.hy-SmallCart {
  padding: 15px;
  width: 350px;
  max-height: 80vh;
  overflow-y: scroll;
  background-color: #250404;
  color: #bebebe;

  h6 {
    color: #bebebe;
    border-bottom: 1px solid #cdaa8a;
  }
  p {
    color: #bebebe;
    padding: 0;
    margin: 0;
  }

  img {
    object-fit: cover;
    object-position: center center;
    height: 64px;
    width: 64px;
  }
}

.hy-checkout {
  // width: 100px;
  margin: 0 auto;
  // svg {
  //   width: 50%;
  // }
}

.hy-btn-studio {
  line-height: 50px;
}

.hy-modal > .modal-footer > button {
  background-color: #cdaa8a;
  border: none;
}

.fade.modal.show {
  background-color: transparent;
}

.hy-modal {
  background-color: none;
}
.hy-modal > .modal-header {
  border: none;
  border-bottom: 1px solid #cdaa8a;
  padding: 20px 30px;
}

.hy-modal > .modal-body {
  border: none;
  border-bottom: 1px solid #cdaa8a;
  padding: 20px 30px;
}

.hy-modal > .modal-footer {
  border: none;
  padding: 20px 30px;
}

.modal-content.hy-modal {
  border-radius: 0;
}

.k-left-icon.hy-left-icon {
  margin-right: 25px;
}

.k-right-icon.hy-right-icon {
  margin-left: 25px;
}

.hoyu-mt {
  margin: 30px 0;
}

.page-link.hoyu-page-link {
  border: none;
  font-family: 'Noto Serif TC';
  color: #bebebe;
  font-size: 24px;
  /* padding: 0 8px; */
}

.page-link.hoyu-page-link:hover {
  color: #cdaa8a;
  background: none;
  border: none;
}

.hoyu-page-arrow {
  font-size: 12px;
  line-height: 30px;
  /* padding: 0 14px; */
}

.hy-table {
  font-family: 'Noto Serif TC';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}

.hy-table tr td {
  padding: 0.5rem;
}
.hy-w-6 {
  width: 6.66%;
}
.hoyu-a {
  color: #250404;
}

.hoyu-a:hover {
  text-decoration: none;
  color: white;
  background-color: #250404;
}

.clbread {
  font-size: 14px;
  color: #cdaa8a;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 1.8px;
}

.clbread:hover {
  color: #250404;
  text-decoration: none;
}

.clspan {
  color: #250404;
}

.hy-img > img {
  height: 64px;
  // width: 64px;
  // max-width: 100%;
}

.hy-form i {
  color: #cdaa8a;
}

.hoyu-select {
  /*移除箭頭樣式*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /*改變右邊箭頭樣式*/
  background: url('http://localhost:3000/icons/arrow-down.svg') no-repeat 95%
    center;
  background-size: 8px;
}

.hoyu-select-plastic {
  /*移除箭頭樣式*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  /*改變右邊箭頭樣式*/
  background: url('http://localhost:3000/icons/arrow-down.svg') no-repeat 85%
    center;
  background-size: 8px;
}
.hy-step-active {
  color: #cdaa8a;
}

.hy-form-border {
  border-bottom: #cdaa8a 1px solid;
}

.hy-py-48 {
  padding: 48px 0;
}

.hy-form {
  margin-top: 50px;
  padding: 15px 15px 0 15px;
  border: #cdaa8a solid 1px;
  font-family: 'Noto Serif TC';
}

.form-row.hy-form-row {
  margin-right: -15px;
  margin-left: -15px;
}

.hy-form-row > .hy-form-col {
  padding-right: 15px;
  padding-left: 15px;
}

.hy-color-gold {
  color: #cdaa8a;
}

.hy-bg {
  background-color: #ffeed3;
}

.hy-bg-opacity {
  background-color: rgba(205, 170, 138, 0.05);
}

.hy-cartmode-active {
  background-color: #cdaa8a;
}

@media screen and (max-width: 768px) {
  .hy-rwd-d-none {
    display: none;
  }
  .hy-rwd-d-show {
    display: block;
  }
  .hy-img > img {
    height: 64px;
  }

  .hy-money::before {
    content: '$';
  }
}
