.k-mp-upper {
  margin: 50px auto 25px;
}
.clbread {
  font-size: 14px;
  color: #cdaa8a;
  font-family: 'Noto Sans TC', sans-serif;
  letter-spacing: 1.8px;
  transition: 0.6s;
}

.clbread:hover {
  color: #250404;
  text-decoration: none;
}

.clspan {
  color: #250404;
}

/*carousel 輪播圖*/
/*覆寫react bs carousel套件部分*/
.carousel-control-prev > .carousel-control-prev-icon,
.carousel-control-next > .carousel-control-next-icon {
  display: none;
}

// .k-carousel-indicators {
//   position: static;
// }

// .k-carousel-indicators > li.dot-bar {
//   display: block;
//   width: 16px;
//   height: 16px;
//   border-radius: 50%;
//   margin-right: 8px;
//   background-color: #cdaa8a;
// }

//----以上為不適用的舊的carousel設定，新設定在custom.scss

.p-carousel-box {
  width: 552px;
  height: 600px;
}

.p-carousel-box > .k-carousel-img {
  width: 100%;
  height: auto;
}

/*col-lg-6 right-col 輪播圖右側文字區*/
.k-product-name {
  color: #c7ab8e;
  margin-bottom: 0;
}

/*加入收藏元件*/

.k-collection {
  font-size: 24px;
  line-height: 24px;
  border: none;
  color: #d67b76;
}

/*價格*/
.k-mp-product-price {
  /* margin-top: 25px;
  margin-bottom: 30px; */
  margin: 25px auto 30px;
}

/*計數器 & 加入購物車按鈕*/
.k-counter {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
}

.counterBtn {
  border: none;
  background: none;
  padding: 10px;
}

.k-counter > .fas {
  font-weight: 300;
}

.k-left-icon {
  margin-right: 50px;
}

.k-right-icon {
  margin-left: 50px;
}

/*加入購物車*/
.shopping-zone {
  margin-bottom: 45px;
}

.k-counter {
  border-top: 1px solid #bebebe;
  border-bottom: 1px solid #bebebe;
}

.k-style-addToCartBtn {
  width: 100%;
  border: none;
  background-color: #cdaa8a;
  padding: 15px;
  color: #250404;
  font-size: 14px;
  font-family: 'Noto Sans TC';
  letter-spacing: 0.2em;
  font-weight: lighter;
  cursor: pointer;
  transition: 0.5s;
}

.k-style.addToCartBtn:hover {
  background-color: #250404;
  color: white;
}

h5.product-description-text {
  margin-bottom: 0;
  padding: 76px 0;
  color: #cdaa8a;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1rem;
}

.row.k-mp-lower{
  margin-bottom: 200px;

}


//accordion 下拉式手風琴資訊*/
/*info-head*/
.info-head {
  border-bottom: 1px solid #bebebe;
}

h5.k-note {
  font-family: 'Noto Serif TC';
  color: #3d434a;
  margin-bottom: 0;
  padding: 28px 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1rem;
}

/*info-body*/
.info-body {
  padding: 45px 61px;
  color: #3d434a;
}

.info-body > .k-commons {
  // border-top: 1px solid #cdaa8a;
  border-bottom: 1px solid #cdaa8a;
  margin-bottom: 30px;
}

h5.info-body-text {
  color: #3d434a;
  line-height: 30px;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0.1rem;
}

.k-xd-icon {
  margin-bottom: 50px;
}

.k-xd-icon > span {
  padding: 32px;
  border-radius: 50%;
  background-color: #ffeed3;
}

.k-material-icons {
  font-size: 24px;
}

.k-ul-note {
  padding: 0;
  list-style: none;
}

.k-ul-note .note-list {
  font-family: 'Noto Serif TC';
  font-size: 16px;
  line-height: 30px;
  text-indent: -32px;
  letter-spacing: 0.1rem;
}

.note-list:before {
  content: '';
  display: inline-block;
  margin-right: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #707070;
}

.member-common {
  font-family: 'Noto Serif TC';
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.1rem;
  margin-bottom: 20px;
}

/*common form*/
form .add-common {
  font-weight: 600;
}

h5.form-title {
  font-family: 'Noto Serif TC';
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1rem;
  margin-bottom: 40px;
}

.pub-form small {
  font-family: 'Noto Serif TC';
  color: #d67b76;
  font-size: 12px;
  display: block;
  text-align: right;
  height: 26px;
  margin-top: 6px;
}

.pub-input {
  font-family: 'Noto Serif TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  border: solid 1px #cdaa8a;
  height: 46px;
  padding-left: 15px;
}

.pub-form label {
  font-family: 'Noto Serif TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  font-size: 16px;
  color: #cdaa8a;
}

.form-control.pub-textarea {
  font-family: 'Noto Serif TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  border: solid 1px #cdaa8a;
  padding-left: 15px;
  resize: none;
}

.form-control.pub-textarea:focus,
input:focus,
.uneditable-input:focus {
  border-color: #fff8ea;
  box-shadow: 0 1px 1px rgba(255, 248, 234, 0.75) inset,
    0 0 4px rgba(205, 170, 138, 0.9);
  outline: 0 none;
}

.form-control.pub-textarea {
  border-radius: 0px;
}

.k-pub-button {
  border: none;
  font-family: 'Noto Sans TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  background-color: #c7ab8e;
  color: white;
  text-align: center;
  width: 260px;
  height: 50px;
  font-size: 14px;
  display: block;
  margin-top: 24px;
}

.k-pub-button:focus {
  outline: none;
}

.pub-mb-100 {
  margin-bottom: 100px;
}

/*第二支carousel：CarouselShow*/
.more-info {
  margin-top: 200px;
  padding: 100px 0;
  height: 692px;
  background-color: #ffeed3;
}

.more {
  color: #cdaa8a;
  font-size: 24px;
  letter-spacing: 0.1rem;
  line-height: 20px;
}

.more:after {
  content: '>>';
  display: inline-block;
}

.img-box {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.img-box > img {
  width: 100%;
}

/*客製化輪播左右鍵*/
button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec.rec-arrow-left, button.sc-bdfBwQ.lgksPe.rec.rec-arrow.rec.rec-arrow-right {
  background-color: #c7ab8e;
  opacity: 1;
}

button.sc-bdfBwQ.iLquPE.rec.rec-arrow.rec.rec-arrow-left:hover, button.sc-bdfBwQ.lgksPe.rec.rec-arrow.rec.rec-arrow-right:hover{
  opacity: 0.5;
  transition: opacity .2s ease;
}

button.lgksPe:hover:enabled, .lgksPe:focus:enabled{
  background-color: #c7ab8e;
}

/*cursor*/
.cursor2 {
  width: 50px;
  height: 50px;
  // border: 3px solid rgba(205, 170, 138, 0.4);
  background: rgba(205, 170, 138, 0.8);

  border-radius: 50%;
  position: absolute;
  box-shadow: 2px -3px 41px -1px rgba(250, 250, 250, 0.64);
  transition: all 0.1s linear;
  pointer-events: none;
  z-index: 1;
  transform: scale(2);
  mix-blend-mode: multiply;
}
