@import '~bootstrap/scss/bootstrap.scss';

body {
  overflow-x: hidden;
}

.fish-aside ul {
  font-weight: 300;

  font-family: 'Noto Sans TC';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1rem;
  list-style: none;
  padding-inline-start: 0px;
  color: #250404;
  padding-bottom: 15px;
  margin-bottom: 0px;
}

.fish-aside li {
  font-family: 'Noto Sans TC';
  font-size: 16px;
  padding-left: 16px;
  margin-top: 16px;
  list-style: none;
  color: #250404;
}
.fish-aside a :hover {
  color: #cdaa8a;
}
.fish-aside ul > li:first-child {
  margin-top: 30px;
}
.fish-aside-active {
  border-left: 6px solid #cdaa8a;
  margin: 20px 0 20px 0;
}

.fish-aside-ul-active {
  color: #cdaa8a;
  font-weight: 300;
  font-family: 'Noto Sans TC';
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1rem;
  list-style: none;
}
.fish-aside h4 {
  white-space: nowrap;

  margin-bottom: 50px;
  color: #250404;
}
.fish-aside ul a:hover {
  text-decoration: none;
}

.fish-topic {
  color: #cdaa8a;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 50px;
}
.fish-topic i {
  margin-right: 5px;
}
.pub-form small {
  font-family: 'Noto Serif TC';
  color: #d67b76;
  font-size: 12px;
  display: block;
  text-align: right;
  height: 26px;
  margin-top: 6px;
}
.pub-input {
  font-family: 'Noto Serif TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  border: solid 1px #cdaa8a;
  height: 46px;
  padding-left: 15px;
}
/* .pub-input:focus {
    outline: #250404 1px solid;
    border-radius: 0;
  } */
.pub-form label {
  font-family: 'Noto Serif TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  font-size: 16px;
  color: #cdaa8a;
}

.pub-button {
  font-family: 'Noto Sans TC';
  letter-spacing: 0.1rem;
  line-height: 20px;
  background: #000;
  color: white;
  text-align: center;
  width: 260px;
  height: 50px;
  font-size: 14px;
  display: block;
  margin-top: 24px;
}
.pub-mb-100 {
  margin-bottom: 100px;
}
.navbar-brand,
.nav-item a {
  color: white;
  margin-right: 60px;
  font-size: 14px;
}

footer {
  // display: block;
  padding-top: 300px;
  width: 100%;
  height: 388px;
  background-color: #250404;
}

// input[type='date']::-webkit-calendar-picker-indicator {
//   color: rgba(0, 0, 0, 0);
//   fill: #cdaa8a;
//   opacity: 1;
//   background-image: url('./icons/calendar.svg');
//   background-repeat: no-repeat;
//   background-position: 100% center;
//   background-size: 15px;
//   padding-right: 20px;
//   cursor: pointer;
// }
.clbread {
  font-size: 14px;
  color: #cdaa8a;
  font-family: 'Noto Serif TC', serif;
  letter-spacing: 1.8px;
}

.clbread:hover {
  color: #250404;
  text-decoration: none;
}

.clspan {
  color: #250404;
}
.bread-div {
  margin: 50px 0px;
}

.bgup-img::before {
  content: ' ';
  background-image: url(../icons/goldbg.svg);
  background-size: cover;
  position: absolute;
  right: 0px;
  top: 50px;
  width: 276px;
  height: 276px;
  transform: rotate(230deg);
}

.bgdown-img::before {
  content: ' ';
  background-image: url(../icons/goldbg.svg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: absolute;
  left: -130px;
  top: 530px;
  width: 450px;
  height: 450px;
  transform: rotate(350deg);
}
@media screen and (max-width: 414px) {
  .fish-topic {
    margin-bottom: 20px;
  }
  h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 992px) {
  .bgdown-img {
    display: none;
  }
  .bgup-img {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  aside {
    display: none;
  }
  h2 {
    font-size: 36px;
  }
}
