@import '~bootstrap/scss/bootstrap.scss';

.navbar {
  background-color: #250404;
  border-bottom: 1px solid #cdaa8a;
  height: 75px;
}

.navbar a {
  color: white !important;
  margin: 0px;
  padding: 10px 0px;
}

.navbar-brand,
.nav-item a {
  margin-right: 0px;
}

.nav-left {
  width: 25%;
}

.nav-right {
  width: 25%;
}

.nav-between a {
  margin: 0 auto;
  white-space: nowrap;
}

.nav-between {
  width: 50%;
}

.nav-right a {
  margin: 0 12px;
}

.dropdown-menu {
  background-color: #250404 !important;
  padding: 0px;
}

.dropdown-item.active {
  background-color: #250404 !important;
  margin: 8px auto 0px auto !important;
  line-height: 36px;
}

.dropdown-item p {
  color: white;
}
.dropdown-item {
  height: 35px;
  padding: 0;
  margin: 10px auto 0px auto !important;
  line-height: 36px;
}

.drop-border {
  border-top: 1px solid #cdaa8a;
}

.dropdown-item p {
  text-align: center;
  line-height: 100%;
  margin: auto auto;
}

.dropdown-divider {
  border-top: 1px solid #cdaa8a !important;
  margin-bottom: 0px;
}
